<table class="table {% if vue == 'user' %}mt-5{% else %}table-striped{% endif %}">
    <thead class="thead-light">
        <tr>
            {% if vue == 'user' %}<th scope="col">#</th>{% endif %}
            <th scope="col">Nom d'utilisateur</th>
            <th scope="col">Profil</th>
            <th scope="col">Email</th>
            {% if vue == 'user' %}<th scope="col">Inscrit le</th>{% endif %}
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody id="tbody-users">
    {% for user in users %}
        {% include '@App/users/gestion_user_list_line.html.twig' with {'vue': vue} %}
    {% endfor %}
    </tbody>
</table>