<template>
  <div>
    <div class="flex flex-row justify-center items-center mb-6" style="background:linear-gradient(#660099, #8161ff); width:100%; height: 5em;">
      <nuxt-link :to="{name: 'index' }">
        <img src="~/assets/images/logo-white.png" class="logo__index"/>
      </nuxt-link>
    </div>
    <search-bar @filterUpdate="filterChanges($event)" :badges="badges"/>
    <profilList :profils="prof" :badges="badges" :selected="selectedBadges"/>
    <carousel-users :badges="badges" :profils="profils"/>
  </div>
</template>

<script>

import SearchBar from "@/components/SearchBar";
import CarouselUsers from "@/components/CarouselUsers";
import ProfilList from "@/components/ProfilList";


export default {
  components: {
    SearchBar,
    CarouselUsers,
    ProfilList
  },
  async asyncData ({ $axios }) {
    try {
      let profils = await $axios.get(`/api/v1/profils`, {baseURL: process.env.API_HOST})
      let badges = await $axios.get(`/api/v1/badges`, {baseURL: process.env.API_HOST})
      return {
        profils: profils.data.response,
        badges: badges.data.response
      }
    } catch (error) {
      console.log(error)
    }
  },
  data () {
    return {
      selectedBadges: [],
      prof: []
    }
  },
  methods: {
    filterChanges (filters) {
      this.selectedBadges = filters
      this.applyFiltre()
    },
    applyFiltre() {
        if(this.selectedBadges.length > 0) {
        let arr = {}
        for(let sb = 0; sb < this.selectedBadges.length; sb++) { arr[this.selectedBadges[sb]] = (sb + 1) * 10 }

        this.profils.forEach(profil => {
          let badgesVerfified = profil.badges.filter(badge=> this.selectedBadges.includes(badge.id))
          profil['score'] = badgesVerfified.length
          profil['badgeScore'] = 0
          badgesVerfified.forEach(bf => { profil['badgeScore'] += arr[bf.id]; })
        })

        let profilVerified =this.profils.filter(profil => profil['score'] > 0)
        profilVerified.sort((a, b) => b['score'] - a['score'])

        let ps = []
        let pa = []

        let currentScore = profilVerified.length > 0 ? profilVerified[0]['score'] : 0;

        profilVerified.forEach(p => {
          if(p['score'] == currentScore){
            pa.push(p)
          } else {
            currentScore = p['score']
            ps.push(Array.from(pa))
            pa = []
            pa.push(p)
          }
        });

        ps.push(Array.from(pa));
        ps.forEach(element => {
          element.sort((a, b) => a['badgeScore'] - b['badgeScore']);
        });

        profilVerified = [];

        ps.forEach(paV => {
          paV.forEach(pV => {
            profilVerified.push(pV);
          });
        });

        this.prof = profilVerified;
      } else {
        this.prof = [];
      }
    },
    isValueNull() {
      return 0
    }
  },
  computed: {
    displayProfile () {
      let selectedProfils = []
      this.profils.forEach(profil => {
        if (!profil.badges) return null
        profil.score = profil.badges.filter(badge => this.selectedBadges.includes(badge.id)).length
        if (profil.score > 0)
          selectedProfils.push(profil)
      })
      return selectedProfils.sort((a, b) => a.score - b.score).reverse()
    }
  }
};
</script>
