<template>
  <div @click="sendEvent()" class="back">
    <div class="case">
      <div class="mt-2 w-full">
        <img
          class="grayhover mx-auto"
          :class="{'grayscale': !checkList.includes(badge.id)}"
          style="height: 35px"
          :src="badge.img"
        />
      </div>
      <p style="width:100%; text-align:center;">{{badge.name}}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    badge: {
      type: Object,
      default: () => {
        return {
          id: 0,
          name: "Default",
          img: "1"
        };
      }
    },
    checkList: {
      type: Array,
      default: () => {
        return [2, 4];
      }
    }
  },
  methods: {
    sendEvent() {
      this.$emit("ready");
    }
  }
};
</script>

<style lang="postcss" scoped>

.case {
  /* width: 90%;
  height: 90%; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.grayhover:hover {
  filter: grayscale(0.5);
  -webkit-filter: grayscale(0.5);
  -moz-filter: grayscale(0.5);
  -o-filter: grayscale(0.5);
  -ms-filter: grayscale(0.5);
}
.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
.back {
  width: 130px;
  height: 75px;
  border-radius: 15px;
  margin: 10px 10px;
  box-shadow: 0px 0px 10px gray;
}
.backBlue {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#63b6db+0,309dcf+100;Blue+3D+%234 */
  background: #63b6db; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #63b6db 0%,
    #309dcf 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #63b6db 0%,
    #309dcf 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #63b6db 0%,
    #309dcf 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.backGray {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100;Grey+Black+3D */
  background: #b5bdc8; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #b5bdc8 0%,
    #828c95 36%,
    #28343b 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #b5bdc8 0%,
    #828c95 36%,
    #28343b 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #b5bdc8 0%,
    #828c95 36%,
    #28343b 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

</style>
